<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="name" value="" checked> All
  </label>
  <label class="btn btn-default">
    <input type="radio" name="name" value="profile"> Profile
  </label>
  <label class="btn btn-default">
    <input type="radio" name="name" value="search_history"> Search history
  </label>
</div>