<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="_action" value="" checked> All
  </label>
  <label class="btn btn-default">
    <input type="radio" name="_action" value="new"> New
  </label>
</div>