<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="device_type" value="" checked> All
  </label>
  <label class="btn btn-default">
    <input type="radio" name="device_type" value="pc"> Pc
  </label>
  <label class="btn btn-default">
    <input type="radio" name="device_type" value="smartphone"> Smartphone
  </label>
</div>