<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="ego_surfing" value="" checked> All
  </label>
  <label class="btn btn-default">
    <input type="radio" name="ego_surfing" value="true"> Ego surfing
  </label>
  <label class="btn btn-default">
    <input type="radio" name="ego_surfing" value="false"> Others
  </label>
</div>