<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="user_id" value="" checked> All
  </label>
  <label class="btn btn-default">
    <input type="radio" name="user_id" value="true"> Login
  </label>
  <label class="btn btn-default">
    <input type="radio" name="user_id" value="false"> Guest
  </label>
</div>