<div class="well">
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default active">
      <input type="radio" name="id_type" value="session_id" checked> session_id
    </label>
    <label class="btn btn-default">
      <input type="radio" name="id_type" value="user_id"> user_id
    </label>
    <label class="btn btn-default">
      <input type="radio" name="id_type" value="uid"> uid
    </label>
  </div>
</div>

<div><%= link_to('KPIs', root_path, class: 'btn btn-default') %></div>

<div class="loading"><%= image_tag asset_path('kpi_admin/ajax-loader.gif') %></div>
<div class="kpis rr number" style="height: 600px;"></div>
<div class="kpis rr percentage" style="height: 600px;"></div>

<div><%= link_to('KPIs', root_path, class: 'btn btn-default') %></div>

<script>
  var config = {
    credits: {
      enabled: false
    },
    chart: {
      type: 'heatmap',
      plotBorderWidth: 1
    },
    title: {
      text: 'title'
    },
    xAxis: {
      categories: null
    },
    yAxis: {
      title: null,
      categories: null
    },
    colorAxis: {
      min: 0,
      minColor: '#FFFFFF',
      maxColor: "#7cb5ec" // Highcharts.getOptions().colors[0]
    },
    series: [{
      name: 'total',
      borderWidth: 1,
      data: null,
      dataLabels: {
        enabled: true,
        color: '#000000'
      }
    }]
  };

  var loading = $('.loading');
  var charts = {
    number: $('.kpis.rr.number'),
    percentage: $('.kpis.rr.percentage')
  };

  function draw(xAxis_categories, yAxis_categories, cells, title, chart) {
    var conf = $.extend(true, {}, config);
    conf.title.text = title;
    conf.xAxis.categories = xAxis_categories;
    conf.yAxis.categories = yAxis_categories;
    conf.series[0].data = cells;
    loading.hide();
    chart.empty().highcharts(conf);
  }

  function fetch(format) {
    var results = {};
    var url = '<%= rr_path %>';
    var params = [];
    for (var i = 0; i < 10; i++) {
      params[i] = {
        id_type: $('input[name=id_type]:checked').val(),
        y_index: i,
        y_index_max: 9,
        format: format
      }
    }

    function failed(xhr) {
      console.log(xhr.responseText);
      loading.hide();
      charts[format].empty().text('error');
    }

    function done(res) {
      results[res.y_index] = res;
      draw(res.xAxis_categories, res.yAxis_categories, all_cells(), res.title, charts[format]);
      if (params[res.y_index + 1]) {
        return $.get(url, params[res.y_index + 1])
      }
    }

    function all_cells() {
      var cells = [];
      for (var key in results) {
        cells = cells.concat(results[key].cells);
      }
      return cells
    }

    return $.get(url, params[0])
        .then(done, failed)
        .then(done, failed)
        .then(done, failed)
        .then(done, failed)
        .then(done, failed)
        .then(done, failed)
        .then(done, failed)
        .then(done, failed)
        .then(done, failed)
        .then(done, failed); // 10, only draw
  }

  function reload() {
    loading.show();
    charts['number'].empty();
    charts['percentage'].empty();
    fetch('number').then(function(){return fetch('percentage')});
  }

  $('input[name=id_type]:radio').on('change', reload);

  $(function () {
    reload();
  });
</script>
