<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="auto" value="" checked> All
  </label>
  <label class="btn btn-default">
    <input type="radio" name="auto" value="true"> Auto
  </label>
  <label class="btn btn-default">
    <input type="radio" name="auto" value="false"> Manual
  </label>
</div>