<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-default active">
    <input type="radio" name="context" value="" checked> All
  </label>
  <label class="btn btn-default">
    <input type="radio" name="context" value="create"> Create
  </label>
  <label class="btn btn-default">
    <input type="radio" name="context" value="update"> Update
  </label>
</div>